*{
    margin:0px;
    padding:0px;
}
body{
    
    color: white;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.container{
    background-image: linear-gradient(to right, rgba(0,0,0,0.9),rgba(0,0,0,0.8)),url("bgimage.jpeg");
    background-size: cover;
    height: 100vh;
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
img{
    width:230px;
    position: absolute;
    top:-10px;
    left: 100px;
}
.navbar{
    position: absolute;
    top:30px;
    right: 120px;
    gap: 20px;
}
#language{
    width:120px;
    height: 30px;
    margin-right: 20px;
    border-radius: 5px;
    background: transparent;
    color: white;
    padding-left: 15px;
    font-size: 16.5px;
}
.signin{
    font-size: 14px;
    color: white;
    width: 80px;
    height: 35px;
    padding:5px;
    background-color: red;
    border-radius: 5px;
    font-size: 16.5px;
}
h1{
    font-size: 3.5rem;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 900;
}
#desc{
    margin: 10px;
    font-size: 1.25rem;
    font-weight: 500;
}
p{ 
    margin: 15px;
}
.text-boxes{
     display:flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 10px;
}
#email{
    width: 400px;
    height: 55px;
    padding-left:15px;
    background: transparent;
    color: rgb(235, 228, 228);
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    border-radius: 5px;
    font-size: 18px;
}
.start{
    width: 200px;
    height: 55px;
    background-color: rgb(223, 27, 27);
    border-radius: 5px;
    color: white;
    font-size: 23px;
    border:none ;
}
.second-container{
    
    background-color: black;
}
.curv{
    height: 5px;
    background-image: linear-gradient(to right,rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    box-sizing: border-box;
    border: solid .25rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;
    z-index: -1;
    margin-top: -.25rem;
    border-radius: inherit;
    
}

.mini-container{  
    margin-top: 5em;
    padding-left:10em;
    padding-right:10em;
}
#india{
    width:100px;
    height: 40px;
    margin-right: 20px;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-size: 16px;
}
h2{
    margin-bottom: 15px;
}
#Movies{
    width:100px;
    height: 40px;
    margin-right: 20px;
    border-radius: 5px;
    background: transparent;
    color: white;
    font-size: 16px;
}
.scroll-bar{
    width:70em;
    padding: 1em;
    display: flex;
    margin-top: 2em;
    overflow: auto;
    scrollbar-width: none;
    height: 15em;
    margin-bottom: 3em;
   
}
#box1{
    height: 15em;
    min-width: 11.5em;
    background-image:url("image1.jpg");
    background-size: cover;
    border-radius: 10px;
    margin-right: 2em;
    position: relative;
}
#box2{
    height: 15em;
    min-width: 11.5em;
    background-image:url("image2.jpeg");
    background-size: cover;
    border-radius: 10px;
    margin-right: 2em;
}
#box3{
    height: 15em;
    min-width: 11.5em;
    background-image:url("image3.jpg");
    background-size: cover;
    border-radius: 10px;
    margin-right: 2em;
    position: relative;

}
#box4{
    height: 15em;
    min-width: 11.5em;
    background-image:url("image4.jpg");
    background-size: cover;
    border-radius: 10px;
    margin-right: 2em;
}
#box5{
    height: 15em;
    min-width: 11.5em;
    background-image:url("image5.jpeg");
    background-size: contain;
    border-radius: 10px;
    margin-right: 2em;
}
#box6{
    height: 15em;
    min-width: 11.5em;
    background-image:url("image6.jpg");
    background-size: contain;
    border-radius: 10px;
    margin-right: 2em;
}
#box7{
    height: 15em;
    min-width: 11.5em;
    background-image:url("image7.jpg");
    background-size: cover;
    border-radius: 10px;
    margin-right: 2em;
}
#box8{
    height: 15em;
    min-width: 11.5em;
    background-image:url("image8.jpeg");
    background-size: cover;
    border-radius: 10px;
    margin-right: 2em;
}
#box1:hover,#box2:hover,#box3:hover,#box4:hover,#box5:hover,#box6:hover,#box7:hover,#box8:hover
{
    transform: scale(1.1,1.1);
}
.recent{
    height: 1.5em;
    padding: 5px;
    background-color: rgb(210, 21, 21);
    border: none;
    border-radius: 5px;
    color:white;
    font-size: 20px;
    margin-top: 10.5em;
    margin-left: 1em;
}

.options{
    margin-top: 20px;
    color: white;
    display: flex;
    gap:15px;
    margin-bottom: 3em;
}
.option1,.option2,.option3,.option4{
    height: 16em;
    width: 16em;
    background-image:linear-gradient(to right bottom, rgba(25, 36, 95, 0.9),rgb(48, 16, 5));
    border-radius: 20px;
    padding: 20px;
    position: relative;
    overflow: auto;
    scrollbar-width: none;
}
p{
    color: rgb(196, 189, 189);
    margin-top: 20px;
    position: absolute;
    bottom:-100px;

}
.option1:hover p,.option2:hover p,.option3:hover p,.option4:hover p{
    top:100px;
}
.questions{
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 2em;
}
#Que1,#Que2,#Que3,#Que4,#Que5,#Que6{
    width: 48em;
    height: 2em;
    margin-bottom: 0.5em;
    background-color: rgb(34, 32, 32);
    border: none;
    font-size: 24px;
    color: white;
    padding: 15px;
}
#Que1:hover,#Que2:hover,#Que3:hover,#Que4:hover,#Que5:hover,#Que6:hover{
    background-color: rgb(59, 56, 56);
}
#foot-desc{
    font-size: 16px;
    margin-left: 20em;
    color: rgb(171, 162, 162);
}
.Que-call{
    color: rgb(171, 162, 162);
    margin-top: 4em;
    font-weight:500;
    margin-left: 0em;
}
a{
    color: rgb(171, 162, 162);
    font-weight:500;
    gap:50px;
    margin-bottom: 1em;
}
.footer{
    display: flex;
    flex-direction: row;

}
#ref1,#ref2,#ref3,#ref4{
    display:flex;
    flex-direction: column;
    margin-top: 2em;
}
#ref2,#ref3,#ref4{
    margin-left: 10em;
}
#lang{
    width:120px;
    height: 30px;
    margin-right: 20px;
    border-radius: 5px;
    background: transparent;
    color: white;
    margin-top: 5em;
    margin-bottom: 3em;
    padding-left: 15px;
    font-size: 16.5px;
}
option{
    color: black;
}
h4{
    color: rgb(171, 162, 162);
    font-weight:500; 
}
#num{
    position: relative;
    top: -148px;
    left: -18px;
    font-weight: 700;
    font-size: 6.5em;
    color: black;
    z-index: 13;
    text-shadow: -1px 0 rgb(243, 236, 236), 0 1px rgb(238, 231, 231), 1px 0 rgb(234, 227, 227), 0 -1px rgb(236, 228, 228);
}



